apiVersion: v1
kind: Namespace
metadata:
  name: observability
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-lgtm
  namespace: observability
  labels:
    app: otel-lgtm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-lgtm
  template:
    metadata:
      labels:
        app: otel-lgtm
    spec:
      nodeSelector:
        role: worker
      containers:
        - name: otel-lgtm
          image: grafana/otel-lgtm:latest
          ports:
            - containerPort: 3000
            - containerPort: 3100
            - containerPort: 4317
            - containerPort: 4318
            - containerPort: 14268
          #    volumeMounts:
          #      - name: config-volume
          #        mountPath: /etc/lgtm-config.yaml
          #        subPath: lgtm-config.yaml
          #  volumes:
          #    - name: config-volume
          #      configMap:
          #        name: otel-lgtm-config
