---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-lgtm
  namespace: monitoring
  labels:
    app: otel-lgtm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-lgtm
  template:
    metadata:
      labels:
        app: otel-lgtm
    spec:
      containers:
      - name: otel-lgtm
        image: grafana/otel-lgtm:latest
        ports:
          - containerPort: 3000
          - containerPort: 3100
          - containerPort: 4317
          - containerPort: 4318
          - containerPort: 14268
        volumeMounts:
          - name: config-volume
            mountPath: /etc/lgtm-config.yaml
            subPath: lgtm-config.yaml
      volumes:
        - name: config-volume
          configMap:
            name: otel-lgtm-config
