---
apiVersion: v1
kind: Namespace
metadata:
  name: pihole

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  labels:
    app: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
      - name: pihole
        image: "pihole/pihole:latest"
        ports:
        - containerPort: 53
          protocol: UDP
        - containerPort: 80
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
        env:
        - name: TZ
          value: "Europe/Berlin"
        - name: WEBPASSWORD
          valueFrom:
            secretKeyRef:
              name: pihole-secret
              key: WEBPASSWORD
        volumeMounts:
        - name: pihole-storage
          mountPath: /etc/pihole
      volumes:
      - name: pihole-storage
        persistentVolumeClaim:
          claimName: pihole-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
