---
apiVersion: "openebs.io/v1beta2"
kind: DiskPool
metadata:
  name: storage-m2
  namespace: openebs
spec:
  node: storage1
  disks: ["/dev/disk/by-id/nvme-WD_Blue_SN5000_1TB_250722800205"]
  topology:
    labelled:
      type: usb
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openebs-m2
parameters:
  protocol: nvmf
  repl: "1"
  thin: "true"
  fsType: xfs
  poolAffinityTopologyLabel: |
    type: m2
allowVolumeExpansion: true
provisioner: io.openebs.csi-mayastor
reclaimPolicy: Delete
