---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-lgtm-config
  namespace: monitoring
data:
  lgtm-config.yaml: |
    server:
      http_listen_port: 3100
    analytics:
      reporting_enabled: false
    common:
      path_prefix: /var/lgtm
