---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: homelab
  namespace: flux-system
spec:
  interval: 5m
  path: ./homelab
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-repo
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb
  namespace: flux-system
spec:
  interval: 5m
  path: ./homelab/core/metallb-helm
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-repo
    namespace: flux-system
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-config
  namespace: flux-system
spec:
  interval: 5m
  path: ./homelab/core/metallb-config
  prune: true
  dependsOn:
    - name: metallb
  sourceRef:
    kind: GitRepository
    name: homelab-repo
    namespace: flux-system
