---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: cilium
  namespace: flux-system
spec:
  interval: 10m
  url: https://helm.cilium.io/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  interval: 10m
  chart:
    spec:
      chart: cilium
      version: "1.18.2"
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
  values:
    envoy:
      baseID: 3
    cgroup:
      autoMount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    ipam:
      mode: kubernetes
    k8sServiceHost: localhost
    k8sServicePort: 7445
    kubeProxyReplacement: true
    operator:
      replicas: 1
    routingMode: tunnel
    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
    tunnelProtocol: vxlan
    # NOTE: Enabling Tailscale LB
    # https://github.com/tailscale/tailscale/issues/7868#issuecomment-1729967628
    bpf:
      lbExternalClusterIP: true
    socketLB:
      enabled: true
      hostNamespaceOnly: true
